# Puerto en el que correrá el servidor
PORT=5000

# Conexión a la base de datos PostgreSQL
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/nombre_base_de_datos"

# Configuración de JSON Web Tokens (JWT)
JWT_SECRET="tu_secreto_super_seguro_aqui"
JWT_EXPIRES_IN="24h"


MP_ACCESS_TOKEN="tu_token_de_acceso_de_mercadopago_aqui"
WEBHOOK_URL ='https://tu_dominio_o_ngrok_url_aqui/webhook'